@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

* {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gig-card{
  max-width: 270px;
  gap: 1rem
}

.gig-card-header-img{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gig-card img{
  margin: 1rem;
}